## 03 Document Retrieval 
- Retrieve similar documents from wikipedia

### 1. Import Libraries and Data
- Graphlab is a Machine Learning Library for python
- Data contains:  link to wikipedia article, name of person, text of article
- Notebook4 of the University of Washingtons Machine Learning Specialisation

In [1]:
import graphlab

In [2]:
# load pages from wikipedia on people

people = graphlab.SFrame('people_wiki.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to eganjam@gmail.com and will expire on January 31, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\James\AppData\Local\Temp\graphlab_server_1486588145.log.0

In [3]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [4]:
print "There are %d people in the dataset" %len(people)

There are 59071 people in the dataset

### 2. Explore the data
- Let's look at Barack

In [5]:
obama = people[people['name'] == 'Barack Obama']

In [6]:
obama

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [7]:
obama['text']

dtype: str
Rows: ?
['barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba', ... ]

#### Exploring the entry for actor George Clooney

In [8]:
clooney = people[people['name'] == 'George Clooney']
clooney['text']

dtype: str
Rows: ?
['george timothy clooney born may 6 1961 is an american actor writer producer director and activist he has received three golden globe awards for his work as an actor and two academy awards one for acting and the other for producingclooney made his acting debut on television in 1978 and later gained wide recognition in his role as dr doug ross on the longrunning medical drama er from 1994 to 1999 for which he received two emmy award nominations while working on er he began attracting a variety of leading roles in films including the superhero film batman robin 1997 and the crime comedy out of sight 1998 in which he first worked with a director who would become a longtime collaborator steven soderbergh in 1999 clooney took the lead role in three kings a wellreceived war satire set during the gulf warin 2001 clooneys fame widened with the release of his biggest commercial success the heist comedy oceans eleven the first of the film trilogy a remake of the 1960 film with frank sinatra as danny ocean he made his directorial debut a year later with the biographical thriller confessions of a dangerous mind and has since directed the drama good night and good luck 2005 the sports comedy leatherheads 2008 the political drama the ides of march 2011 and the comedydrama war film the monuments men 2014he won an academy award for best supporting actor for the middle east thriller syriana 2005 and subsequently earned best actor nominations for the legal thriller michael clayton 2007 the comedydrama up in the air 2009 and the drama the descendants 2011 in 2013 he received the academy award for best picture for producing the political thriller argo alongside ben affleck and grant heslov he is the only person ever to be nominated for academy awards in six categoriesclooney is sometimes described as one of the most handsome men in the world in 2005 tv guide ranked clooney no 1 on its 50 sexiest stars of all time list in 2009 he was included in times annual time 100 as one of the most influential people in the world clooney is also noted for his political activism and has served as one of the united nations messengers of peace since january 31 2008 his humanitarian work includes his advocacy of finding a resolution for the darfur conflict raising funds for the 2010 haiti earthquake 2004 tsunami and 911 victims and creating documentaries such as sand and sorrow to raise awareness about international crises he is also a member of the council on foreign relations', ... ]

### 3. Obtain Word Counts
- We'll get the word counts for the Obama article
- We'll then sort the word counts

In [9]:
# use in-built 
obama['word_count'] = graphlab.text_analytics.count_words(obama['text'])

print obama['word_count']

[{'operations': 1L, 'represent': 1L, 'office': 2L, 'unemployment': 1L, 'doddfrank': 1L, 'over': 1L, 'unconstitutional': 1L, 'domestic': 2L, 'major': 1L, 'years': 1L, 'against': 1L, 'proposition': 1L, 'seats': 1L, 'graduate': 1L, 'debate': 1L, 'before': 1L, 'death': 1L, '20': 2L, 'taxpayer': 1L, 'representing': 1L, 'obamacare': 1L, 'barack': 1L, 'to': 14L, '4': 1L, 'policy': 2L, '8': 1L, 'he': 7L, '2011': 3L, '2010': 2L, '2013': 1L, '2012': 1L, 'bin': 1L, 'then': 1L, 'his': 11L, 'march': 1L, 'gains': 1L, 'cuba': 1L, 'school': 3L, '1992': 1L, 'new': 1L, 'not': 1L, 'during': 2L, 'ending': 1L, 'continued': 1L, 'presidential': 2L, 'states': 3L, 'husen': 1L, 'osama': 1L, 'californias': 1L, 'equality': 1L, 'prize': 1L, 'lost': 1L, 'made': 1L, 'inaugurated': 1L, 'january': 3L, 'university': 2L, 'rights': 1L, 'july': 1L, 'gun': 1L, 'stimulus': 1L, 'rodham': 1L, 'troop': 1L, 'withdrawal': 1L, 'brk': 1L, 'nine': 1L, 'where': 1L, 'referred': 1L, 'affordable': 1L, 'attorney': 1L, 'on': 2L, 'often': 1L, 'senate': 3L, 'regained': 1L, 'national': 2L, 'creation': 1L, 'related': 1L, 'hawaii': 1L, 'born': 2L, 'second': 2L, 'defense': 1L, 'election': 3L, 'close': 1L, 'operation': 1L, 'insurance': 1L, 'sandy': 1L, 'afghanistan': 2L, 'initiatives': 1L, 'for': 4L, 'reform': 1L, 'house': 2L, 'review': 1L, 'representatives': 2L, 'current': 1L, 'state': 1L, 'won': 1L, 'limit': 1L, 'victory': 1L, 'unsuccessfully': 1L, 'reauthorization': 1L, 'keynote': 1L, 'full': 1L, 'patient': 1L, 'august': 1L, 'degree': 1L, '44th': 1L, 'bm': 1L, 'mitt': 1L, 'attention': 1L, 'delegates': 1L, 'lgbt': 1L, 'job': 1L, 'harvard': 2L, 'term': 3L, 'served': 2L, 'ask': 1L, 'november': 2L, 'debt': 1L, 'by': 1L, 'wall': 1L, 'care': 1L, 'received': 1L, 'great': 1L, 'signed': 3L, 'libya': 1L, 'receive': 1L, 'of': 18L, 'months': 1L, 'urged': 1L, 'foreign': 2L, 'american': 3L, 'protection': 2L, 'economic': 1L, 'act': 8L, 'military': 4L, 'hussein': 1L, 'or': 1L, 'first': 3L, 'control': 4L, 'named': 1L, 'clinton': 1L, 'dont': 2L, 'campaign': 3L, 'russia': 1L, 'civil': 1L, 'reinvestment': 1L, 'into': 1L, 'address': 1L, 'primary': 2L, 'community': 1L, 'mccain': 1L, 'down': 1L, 'hook': 1L, '63': 1L, 'americans': 1L, 'elementary': 1L, 'total': 1L, 'earning': 1L, 'repeal': 1L, 'from': 3L, 'raise': 1L, 'district': 1L, 'spending': 1L, 'republican': 2L, 'legislation': 1L, 'three': 1L, 'relations': 1L, 'nobel': 1L, 'start': 1L, 'tell': 1L, 'iraq': 4L, 'convention': 1L, 'resulted': 1L, 'john': 1L, 'was': 5L, '2012obama': 1L, 'form': 1L, 'that': 1L, 'tax': 1L, 'sufficient': 1L, 'republicans': 1L, 'strike': 1L, 'hillary': 1L, 'ended': 1L, 'arms': 1L, 'honolulu': 1L, 'filed': 1L, 'worked': 1L, 'hold': 1L, 'with': 3L, 'obama': 9L, 'street': 1L, 'ii': 1L, 'has': 4L, '1997': 1L, '1996': 1L, 'whether': 1L, 'reelected': 1L, 'budget': 1L, 'us': 6L, 'nations': 1L, 'recession': 1L, 'while': 1L, 'taught': 1L, 'marriage': 1L, 'policies': 1L, 'promoted': 1L, 'called': 1L, 'and': 21L, 'supreme': 1L, 'ordered': 3L, 'nominee': 2L, 'process': 1L, '2000in': 1L, 'is': 2L, 'romney': 1L, 'briefs': 1L, 'defeated': 1L, 'general': 1L, '13th': 1L, 'as': 6L, 'at': 2L, 'in': 30L, 'sought': 1L, 'organizer': 1L, 'shooting': 1L, 'increased': 1L, 'normalize': 1L, 'lengthy': 1L, 'united': 3L, 'court': 1L, 'recovery': 1L, 'laden': 1L, 'laureateduring': 1L, 'peace': 1L, 'administration': 1L, '1961': 1L, 'illinois': 2L, 'other': 1L, 'which': 1L, 'party': 3L, 'primaries': 1L, 'sworn': 1L, 'relief': 2L, 'war': 1L, 'columbia': 1L, 'combat': 1L, 'after': 4L, 'islamic': 1L, 'running': 1L, 'levels': 1L, 'two': 1L, 'involvement': 3L, 'response': 3L, 'included': 1L, 'president': 4L, 'law': 6L, 'nomination': 1L, '2008': 1L, 'a': 7L, '2009': 3L, 'chicago': 2L, 'constitutional': 1L, 'defeating': 1L, 'treaty': 1L, 'federal': 1L, '2007': 1L, '2004': 3L, 'african': 1L, 'the': 40L, 'democratic': 4L, 'consumer': 1L, 'began': 1L, 'terms': 1L}]

#### Sort the word counts for the Obama article by turning a dictionary into a table and place the most common words at the top

In [10]:
# the stack function here creates the table
obama_word_count_table = obama[['word_count']].stack('word_count', new_column_name = ['word','count'])

# sort the table
obama_word_count_table = obama_word_count_table.sort('count',ascending=False)

obama_word_count_table.head()

Columns:
	word	str
	count	int

Rows: 10

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   40  |
|   in  |   30  |
|  and  |   21  |
|   of  |   18  |
|   to  |   14  |
|  his  |   11  |
| obama |   9   |
|  act  |   8   |
|   a   |   7   |
|   he  |   7   |
+-------+-------+
[10 rows x 2 columns]

#### Looking at the above
- Most common words include uninformative words like "the", "in", "and",...
- This is why we use TF-IDF

### 4. Compute TF-IDF for the corpus 
- To give more weight to informative words, we weigh them by their TF-IDF scores.
- Therefore we need to create a new column with the wordcount data for the corpus

In [11]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])
people.head(5)

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 5

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
| franz rottensteiner born i... | {'all': 1L, 'bauforschung'... |
| henry krvits born 30 decem... | {'legendary': 1L, 'gangste... |
+-------------------------------+-------------------------------+
[5 rows x 4 columns]

In [12]:
# Use graphlabs in-built tf-idf function
# Create a dictionay with tf-idf info for the words in the "word count" column

tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

In [13]:
# we now have a tf-idf value for each word in the corpus
# Let's have a look at a few
tfidf[0]

{'10': 2.3157231098806563,
 '1979': 2.6032908378122737,
 '19982000': 6.509158574746988,
 '2000': 1.8763068991994527,
 '2001': 1.9280249665871378,
 '2002': 1.8753125887822302,
 '2003': 1.8013702663900752,
 '2005': 1.6425861253275964,
 '2006': 1.520737905384506,
 '2007': 1.4879730697555795,
 '2008': 1.5093391374786154,
 '2009': 1.5644364836042695,
 '2011': 1.7023470901042919,
 '2013': 1.9545642372230505,
 '2014': 2.2073995783446634,
 '21': 2.797250863489293,
 '32': 4.3717697890214335,
 '44game': 9.887883100557085,
 'a': 0.022476737890332586,
 'acted': 4.137429106591736,
 'afl': 4.70049729471633,
 'aflfrom': 10.986495389225194,
 'against': 4.015921958283749,
 'age': 2.138848033513307,
 'along': 2.5088749729287803,
 'also': 0.4627270916162349,
 'and': 0.002980575592194913,
 'as': 0.2543390440248236,
 'assistant': 2.5220702633476124,
 'at': 0.8612771466165147,
 'australia': 2.86858644684204,
 'australian': 8.630007339620153,
 'before': 2.9935647453367427,
 'being': 1.7938099524877322,
 'blues': 4.064837205074066,
 'born': 0.268196273764765,
 'box': 4.576320507259028,
 'brisbaneafter': 10.986495389225194,
 'bullants': 7.489987827758714,
 'by': 0.37455341206197373,
 'career': 1.3050270203415668,
 'carlton': 10.682096983163913,
 'carltons': 7.0744723837970485,
 'cause': 4.8023464982877115,
 'club': 11.043158373020127,
 'clubs': 3.4464050690798693,
 'coach': 5.444264118987054,
 'coached': 3.9925624140020046,
 'coburg': 7.851001173296044,
 'college': 1.5613662703175555,
 'continued': 2.720588055069447,
 'corey': 6.486685718894929,
 'currently': 1.637088969126014,
 'david': 2.4512658353228582,
 'delisted': 5.816011394187043,
 'digby': 8.347438059609935,
 'district': 2.774469584601757,
 'division': 2.7906099979103978,
 'draft': 3.240194726993755,
 'drawn': 4.96062941539988,
 'during': 1.3174651479035495,
 'early': 1.929422753652229,
 'edflhe': 10.986495389225194,
 'education': 2.4487155642005685,
 'end': 4.839120211828286,
 'essendon': 6.016682089649193,
 'exchange': 4.113331555012676,
 'falcons': 5.868501576808439,
 'first': 0.6956048713993103,
 'five': 2.2137301792754096,
 'following': 1.9609195556941061,
 'football': 25.58570665567139,
 'footballer': 3.2388985505323085,
 'for': 0.29145011737314763,
 'former': 1.3573131120992086,
 'forward': 3.8848194176057507,
 'from': 0.5875106759712689,
 'game': 2.4168995190159084,
 'games': 2.2331239682242914,
 'goalkicker': 6.859361004180102,
 'goals': 3.4581636225179473,
 'has': 0.428497539744039,
 'hawks': 5.531174273867493,
 'he': 1.280211345952344,
 'hill': 3.794313330511949,
 'his': 0.7878343656409719,
 'in': 0.01255028255157884,
 'is': 0.02761625047551999,
 'its': 1.6875948402695313,
 'kangaroos': 20.726873835958425,
 'kicked': 5.142950972193835,
 'leading': 5.061504320250359,
 'league': 8.342695137239867,
 'losing': 3.773463729390325,
 'mckernan': 9.600201028105303,
 'melbourne': 3.8914310119380633,
 'morrell': 46.88528738395547,
 'northern': 3.310021742836038,
 'october': 1.9182947844101343,
 'of': 0.016624704796446097,
 'other': 1.4424007566948476,
 'parade': 5.510031837293684,
 'perth': 5.051601193605607,
 'physical': 4.001779069106929,
 'play': 2.270287418073342,
 'played': 4.636320601315451,
 'playing': 4.182005515547123,
 'premier': 3.6766139034004075,
 'premiership': 4.5439552227569955,
 'recruited': 4.4897203990393315,
 'retiring': 3.8140708121003493,
 'rookie': 4.104057918227347,
 'round': 2.897933583948961,
 'rules': 3.8272034844276295,
 'season': 5.6626008156972025,
 'selection': 3.836578553093086,
 'senior': 6.897159666747814,
 'shifted': 5.634637255749128,
 'since': 1.455376717308041,
 'spanned': 5.531174273867493,
 'strathmore': 8.588600116426823,
 'sydney': 3.5981675296480873,
 'teaches': 3.7712554104950966,
 'teague': 9.04058524016988,
 'the': 0.0027426017494956603,
 'third': 2.3506306680914584,
 'time': 1.3253342074200498,
 'to': 0.23472468840899613,
 'traded': 3.952107459309691,
 'twice': 3.3301582227950113,
 'until': 1.7591012626831841,
 'vfl': 5.253154112327449,
 'vflaffiliate': 7.431147327735781,
 'victorian': 4.564873121418676,
 'was': 0.3968289280609173,
 'west': 5.205210090246754,
 'western': 3.0880842964135953,
 'who': 0.9098952189804214,
 'with': 1.0123432126103034}

#### Looking at the above:
- 'The' has a tf-idf value of 0.00274
- 'strathmore' has a tf-idf value of 8.59

In [14]:
# set a column in the dataset 
people['tfidf'] = tfidf

In [15]:
people.head(1)

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+---------------+-------------------------------+
|              URI              |      name     |              text             |
+-------------------------------+---------------+-------------------------------+
| <http://dbpedia.org/resour... | Digby Morrell | digby morrell born 10 octo... |
+-------------------------------+---------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'since': 1L, 'carltons': ... | {'since': 1.45537671730804... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

#### Examine the TF-IDF for the Obama article

In [16]:
obama = people[people['name'] == 'Barack Obama']

In [17]:
obama[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [18]:
obama["tfidf"][0]

{'13th': 4.9534091674263925,
 '1961': 3.3207419573634955,
 '1992': 2.278351314316948,
 '1996': 2.135691193468776,
 '1997': 2.1298344522079455,
 '20': 4.88376320446593,
 '2000in': 6.250296940830698,
 '2004': 5.071033082507702,
 '2007': 1.4879730697555795,
 '2008': 1.5093391374786154,
 '2009': 4.693309450812809,
 '2010': 3.185667920243947,
 '2011': 5.107041270312876,
 '2012': 1.7938099524877322,
 '2012obama': 10.986495389225194,
 '2013': 1.9545642372230505,
 '4': 2.437803530749586,
 '44th': 7.0744723837970485,
 '63': 5.22130428644035,
 '8': 2.7572509724892824,
 'a': 0.039334291308082026,
 'act': 27.67822262297991,
 'address': 4.8023464982877115,
 'administration': 3.2952952917023315,
 'affordable': 6.134465125305577,
 'afghanistan': 9.4197037997671,
 'african': 3.582216271187926,
 'after': 3.7773337680052257,
 'against': 2.0079609791418744,
 'american': 3.3821333532750204,
 'americans': 4.761936959949835,
 'and': 0.01564802185902329,
 'arms': 5.030658019760364,
 'as': 0.7630171320744707,
 'ask': 5.510031837293684,
 'at': 0.43063857330825733,
 'attention': 3.4269358932174945,
 'attorney': 3.6593720969659014,
 'august': 2.000173951599175,
 'barack': 5.067601534952048,
 'before': 1.4967823726683713,
 'began': 1.727460095710253,
 'bin': 5.6158573610975315,
 'bm': 7.202305755306933,
 'born': 0.53639254752953,
 'briefs': 7.460134864609033,
 'brk': 10.293348208665249,
 'budget': 4.523465932304524,
 'by': 0.37455341206197373,
 'californias': 5.923900356198227,
 'called': 2.0784770664403074,
 'campaign': 9.077468342511231,
 'care': 3.916621260766622,
 'chicago': 5.858235801334405,
 'civil': 3.3244978303233013,
 'clinton': 4.542364132524754,
 'close': 3.5416621153330006,
 'columbia': 3.232442750189437,
 'combat': 4.932056042955824,
 'community': 2.693196030513871,
 'constitutional': 4.529725733653031,
 'consumer': 4.7540473726746715,
 'continued': 2.720588055069447,
 'control': 14.887060845181308,
 'convention': 4.417013968810898,
 'court': 2.896399606044235,
 'creation': 4.03568062078261,
 'cuba': 5.005081177970713,
 'current': 2.8308461188591933,
 'death': 3.1568650000750016,
 'debate': 4.783959872037272,
 'debt': 5.6158573610975315,
 'defeated': 3.4068165661347387,
 'defeating': 4.285764279677384,
 'defense': 3.794313330511949,
 'degree': 2.0206498944742566,
 'delegates': 6.142308302766603,
 'democratic': 12.410688697332166,
 'district': 2.774469584601757,
 'doddfrank': 9.887883100557085,
 'domestic': 8.967410686619141,
 'dont': 8.28123102792229,
 'down': 2.9476606314374463,
 'during': 2.634930295807099,
 'earning': 3.857197840295821,
 'economic': 3.2704801225826072,
 'election': 7.712676160711769,
 'elementary': 4.96062941539988,
 'ended': 3.3430124821479934,
 'ending': 4.547145018125096,
 'equality': 5.341048491581956,
 'federal': 3.0888272384982884,
 'filed': 4.70797396505935,
 'first': 2.0868146141979307,
 'for': 0.29145011737314763,
 'foreign': 6.3816977057812005,
 'form': 3.233730580373866,
 'from': 0.8812660139569034,
 'full': 3.003055326218652,
 'gains': 6.7238155121838785,
 'general': 2.220724845237937,
 'graduate': 2.6750971107885535,
 'great': 2.7682474625394486,
 'gun': 5.269467687818973,
 'harvard': 6.634000276435001,
 'has': 1.713990158976156,
 'hawaii': 4.806478735572622,
 'he': 1.493579903611068,
 'hillary': 6.002888767516858,
 'his': 2.8887260073502303,
 'hold': 4.144879912747602,
 'honolulu': 5.880549915324614,
 'hook': 6.2951475069960505,
 'house': 4.651096468328522,
 'husen': 10.986495389225194,
 'hussein': 6.126682984863522,
 'ii': 3.3077063910260405,
 'illinois': 7.480254618245467,
 'in': 0.028962190503643476,
 'inaugurated': 6.27696518791286,
 'included': 2.4446095852185854,
 'increased': 4.75012579902149,
 'initiatives': 4.895185507147496,
 'insurance': 4.594578275832593,
 'into': 1.6050629424066056,
 'involvement': 12.784385241175055,
 'iraq': 17.747378587965535,
 'is': 0.05523250095103998,
 'islamic': 4.785986215182504,
 'january': 5.656236009557883,
 'job': 3.446936559924164,
 'john': 1.9913303989140443,
 'july': 1.9428000946579587,
 'keynote': 5.433535804303577,
 'laden': 6.709829270209139,
 'laureateduring': 10.986495389225194,
 'law': 14.722935761763422,
 'legislation': 4.687546142369252,
 'lengthy': 5.862531409821935,
 'levels': 4.647901311022012,
 'lgbt': 5.5883326877074415,
 'libya': 6.332535039067671,
 'limit': 5.355283607403829,
 'lost': 2.731706463076469,
 'made': 1.519886215502974,
 'major': 2.0581201293715634,
 'march': 1.9573172463231197,
 'marriage': 4.115404094614648,
 'mccain': 6.766987684049088,
 'military': 13.115932778499415,
 'mitt': 6.812108119329557,
 'months': 3.0427126967665687,
 'named': 2.0300155412252816,
 'national': 2.3721863295447827,
 'nations': 3.361876403065796,
 'new': 0.8871532656125274,
 'nine': 3.2624907325491286,
 'nobel': 5.075698745184667,
 'nomination': 3.7697859025157365,
 'nominee': 9.43101391473379,
 'normalize': 10.293348208665249,
 'not': 1.5880170751336171,
 'november': 3.9453132752336004,
 'obama': 43.2956530720749,
 'obamacare': 9.04058524016988,
 'of': 0.07481117158400744,
 'office': 5.2481728232196465,
 'often': 2.862641126119281,
 'on': 0.36882550670120073,
 'operation': 4.3584540130456615,
 'operations': 3.811771079388818,
 'or': 1.9128915408224825,
 'ordered': 14.533373950913514,
 'organizer': 5.501698455734539,
 'osama': 6.604468754551313,
 'other': 1.4424007566948476,
 'over': 1.4878231559557336,
 'party': 7.0620334604226676,
 'patient': 5.6393878585077255,
 'peace': 3.7928095708300824,
 'policies': 4.660345916070095,
 'policy': 6.095386282141427,
 'president': 7.226869291326606,
 'presidential': 7.386955418904825,
 'primaries': 6.669007275688884,
 'primary': 6.710127449296579,
 'prize': 2.7453192387302345,
 'process': 3.7451291059028766,
 'promoted': 3.5191243223076345,
 'proposition': 6.926052378678775,
 'protection': 8.698474715881474,
 'raise': 4.67476058007228,
 'reauthorization': 8.907053847545358,
 'receive': 4.448355565457525,
 'received': 1.5396609815666638,
 'recession': 6.642689967371511,
 'recovery': 5.103173000736915,
 'reelected': 3.68265216394749,
 'referred': 4.255477288743111,
 'reform': 4.092839034622559,
 'regained': 5.583818007352915,
 'reinvestment': 8.421546031763658,
 'related': 3.723866788250953,
 'relations': 3.445873860568042,
 'relief': 8.842460838379667,
 'repeal': 7.297615935111258,
 'represent': 4.184100625900883,
 'representatives': 7.484535747243688,
 'representing': 3.535253704237518,
 'republican': 7.207497878972565,
 'republicans': 5.592867842872833,
 'response': 12.784385241175055,
 'resulted': 4.015765311081669,
 'review': 3.227734845067532,
 'rights': 3.06677562830062,
 'rodham': 7.690658523220865,
 'romney': 6.843360662833661,
 'running': 3.3516747114796512,
 'russia': 4.025199343315028,
 'sandy': 5.493433945884646,
 'school': 3.6683618376520553,
 'seats': 5.000043383940756,
 'second': 3.344851662973069,
 'senate': 10.164288179703693,
 'served': 3.0725446998610506,
 'shooting': 4.682046586803213,
 'signed': 7.552957376250012,
 'sought': 4.327201469541557,
 'spending': 4.176352939110058,
 'start': 3.281232914358869,
 'state': 1.7090572737165175,
 'states': 5.473200989631017,
 'stimulus': 7.654290879049991,
 'street': 3.250188292676909,
 'strike': 5.025490049601921,
 'sufficient': 6.432618497624653,
 'supreme': 3.9140734886878232,
 'sworn': 4.96062941539988,
 'taught': 2.8485149347730556,
 'tax': 4.545548848592274,
 'taxpayer': 7.431147327735781,
 'tell': 4.804410482508563,
 'term': 9.319341564760851,
 'terms': 3.8240978918694766,
 'that': 0.6614069466714981,
 'the': 0.004063113702956533,
 'then': 1.4309354361561304,
 'three': 1.4915025293575952,
 'to': 0.6572291275451891,
 'total': 3.2767385247710297,
 'treaty': 5.89889905399281,
 'troop': 7.248825770941826,
 'two': 1.0988831858473562,
 'unconstitutional': 6.8276123058655225,
 'unemployment': 6.642689967371511,
 'united': 4.703766236011668,
 'university': 1.6946860096423695,
 'unsuccessfully': 4.831637295208776,
 'urged': 6.199003646443148,
 'us': 11.591942692842837,
 'victory': 3.384593429350028,
 'wall': 4.021415043623787,
 'war': 2.809822617276739,
 'was': 0.3968289280609173,
 'where': 1.089076212090673,
 'whether': 4.744272123770029,
 'which': 0.7674309670437692,
 'while': 1.8364359481339414,
 'with': 0.6074059275661821,
 'withdrawal': 6.27696518791286,
 'won': 1.3836400683164753,
 'worked': 1.553891853362109,
 'years': 1.0752380994247055}

#### Looking at the above:
- Words with highest TF-IDF are much more informative.
- 'Obama' and 'act' and 'iraq' are deemed to be informative words wrt Obama

### 5. Manually compute distances between a few people
- Let's manually compare the distances between the articles for a few famous people.  
- We will look at Bill Clinton and David Beckham
- Is Obama closer to Bill Clinton or David Beckham? We need to use distance metrics

In [19]:
clinton = people[people['name'] == 'Bill Clinton']
beckham = people[people['name'] == 'David Beckham']

In [20]:
clinton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 275

Data:
+-------------------+---------------+
|        word       |     tfidf     |
+-------------------+---------------+
|      clinton      | 49.9660054578 |
|       haiti       | 17.4480341826 |
|       kappa       | 15.9498433987 |
|      arkansas     | 15.4462948262 |
|       office      |  13.120432058 |
|      clintons     | 12.7827510782 |
|     president     | 12.6470212598 |
|        bush       | 12.5125661975 |
|    endofoffice    | 10.9864953892 |
| presidencyclinton | 10.9864953892 |
+-------------------+---------------+
[275 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [21]:
clinton.head(5)

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Bill Clinton | william jefferson bill cli... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'rating': 1L, 'serving': ... | {'rating': 5.3770235940402... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [22]:
clinton["tfidf"][0]

{'19': 2.8848176417706224,
 '1946': 3.8033836874819134,
 '1977': 2.6962027980008787,
 '1979': 2.6032908378122737,
 '1979born': 10.293348208665249,
 '1981': 2.5978176200443843,
 '1983': 2.57266471080411,
 '1992': 4.556702628633896,
 '1993': 2.3032794139845048,
 '1994': 2.2375557576874794,
 '1998': 4.1375652641876135,
 '2000': 1.8763068991994527,
 '2001': 3.8560499331742757,
 '2004': 1.6903443608359008,
 '2008': 3.0186782749572307,
 '2009': 4.693309450812809,
 '2010': 1.5928339601219734,
 '2012': 1.7938099524877322,
 '2013': 1.9545642372230505,
 '40': 3.490953445340938,
 '42nd': 6.604468754551313,
 '46': 5.230753175638283,
 'a': 0.06743021367099776,
 'acquitted': 5.923900356198227,
 'active': 2.7479584590534256,
 'address': 4.8023464982877115,
 'after': 1.8886668840026128,
 'against': 2.0079609791418744,
 'age': 2.138848033513307,
 'agreement': 4.6496696580787535,
 'aids': 5.131423467022767,
 'also': 0.4627270916162349,
 'alumnus': 4.985080511264044,
 'american': 3.3821333532750204,
 'an': 0.5964781781637942,
 'and': 0.014157734062925836,
 'any': 2.9959185074812718,
 'approval': 5.7032916604872055,
 'arkansas': 15.446294826177763,
 'as': 0.7630171320744707,
 'associationclinton': 10.986495389225194,
 'at': 0.43063857330825733,
 'attend': 4.347927600058674,
 'attorney': 3.6593720969659014,
 'attributed': 5.874507600868651,
 'august': 2.000173951599175,
 'autobiography': 4.888421107058954,
 'baby': 4.640859028396599,
 'barack': 5.067601534952048,
 'be': 1.4062480045415613,
 'became': 2.6601198661099033,
 'becoming': 2.90749713054004,
 'been': 3.90990934191841,
 'before': 2.9935647453367427,
 'began': 1.727460095710253,
 'beta': 5.38807343022682,
 'between': 2.0402507798946505,
 'bill': 3.1038031829361685,
 'blythe': 7.990763115671204,
 'boomer': 8.042056410058754,
 'born': 0.268196273764765,
 'both': 5.019171177736333,
 'budget': 9.046931864609048,
 'bush': 12.512566197452589,
 'by': 0.7491068241239475,
 'campaign': 3.025822780837077,
 'campaigning': 5.82170941530168,
 'campaigns': 4.504918259948763,
 'candidates': 4.464402591055042,
 'care': 3.916621260766622,
 'causes': 5.075698745184667,
 'centrist': 7.054669756500869,
 'chair': 2.9874881759812397,
 'children': 2.4252853123921825,
 'childrens': 3.5956968674895182,
 'clinton': 49.96600545777229,
 'clintons': 12.782751078181208,
 'cold': 4.918069800981084,
 'complete': 3.788311812123251,
 'congress': 3.6131210793151456,
 'congressional': 4.515695885442592,
 'control': 3.721765211295327,
 'coverage': 4.322086368874786,
 'created': 2.7752840274321713,
 'd': 3.8381496453251267,
 'dating': 5.673289410183407,
 'defeating': 4.285764279677384,
 'degrees': 3.774938655911393,
 'democrat': 8.513342637471437,
 'democratic': 9.308016522999125,
 'described': 3.1584573570993646,
 'during': 1.3174651479035495,
 'earned': 4.768084707716267,
 'earthquake': 5.844831832722535,
 'economic': 3.2704801225826072,
 'education': 2.4487155642005685,
 'elected': 4.47638095369114,
 'end': 2.419560105914143,
 'endofoffice': 10.986495389225194,
 'envoy': 6.486685718894929,
 'expansion': 4.775895312200541,
 'failing': 5.043696014098494,
 'first': 2.0868146141979307,
 'five': 2.2137301792754096,
 'for': 0.5100377054030083,
 'form': 3.233730580373866,
 'foundation': 2.714435767014782,
 'franklin': 4.951013956700438,
 'free': 2.956736868784372,
 'from': 2.6437980418707103,
 'fund': 3.882351296237667,
 'general': 2.220724845237937,
 'generation': 3.9943989618093063,
 'george': 5.591727416643311,
 'georgetown': 5.046324136504762,
 'global': 3.206610274154672,
 'governance': 5.054250201777184,
 'governor': 6.788258521410796,
 'governors': 4.694926249666874,
 'grand': 3.129788596129354,
 'h': 3.9468350393631186,
 'haiti': 17.448034182561127,
 'has': 1.713990158976156,
 'have': 1.4416847832984716,
 'he': 3.20052836488086,
 'health': 8.983694608118151,
 'highest': 3.43846641929018,
 'highly': 3.573128053529954,
 'hillary': 6.002888767516858,
 'him': 1.5755843267871936,
 'his': 1.0504458208546292,
 'history': 2.1447579606246094,
 'house': 4.651096468328522,
 'humanitarian': 4.965472039875668,
 'ii': 3.3077063910260405,
 'iii': 4.273539188548124,
 'impeached': 8.042056410058754,
 'in': 0.01158487620145739,
 'inaugurated': 6.27696518791286,
 'incumbent': 4.181880869162571,
 'insurance': 4.594578275832593,
 'intern': 5.874507600868651,
 'international': 1.457919491753774,
 'into': 1.6050629424066056,
 'involved': 2.674114792438443,
 'involving': 4.620024941493757,
 'is': 0.08284875142655997,
 'j': 3.2558813231614545,
 'jefferson': 10.761386645858394,
 'jury': 4.329768865046803,
 'justice': 3.3410976897965607,
 'kappa': 15.949843398734023,
 'last': 2.407078854628825,
 'later': 1.4294496043477696,
 'law': 7.361467880881711,
 'lawsuit': 5.313172122053702,
 'leader': 2.73196650728545,
 'leaving': 3.3202734635624696,
 'left': 2.191367476812056,
 'life': 2.1907617832744593,
 'longest': 4.613175599648182,
 'many': 1.639964662798746,
 'married': 2.327976261718522,
 'member': 1.2204325126007385,
 'met': 3.361876403065796,
 'millions': 5.230753175638283,
 'most': 1.4186204428983973,
 'musician': 3.0064717969145494,
 'my': 2.903166780438819,
 'named': 2.0300155412252816,
 'national': 2.3721863295447827,
 'nations': 3.361876403065796,
 'new': 1.7743065312250548,
 'nomination': 3.7697859025157365,
 'north': 2.4321991098574545,
 'notably': 3.7639293704030234,
 'obamas': 6.2951475069960505,
 'obstruction': 7.1363477875151355,
 'of': 0.08312352398223048,
 'office': 13.120432058049117,
 'opinion': 4.83376269452109,
 'ousted': 6.2951475069960505,
 'over': 1.4878231559557336,
 'overhauled': 8.278445188122983,
 'oxford': 3.550467572873346,
 'party': 2.3540111534742225,
 'pass': 4.8596262051110095,
 'passed': 4.41002582017697,
 'peacetime': 9.04058524016988,
 'period': 3.028967986994421,
 'perjury': 7.489987827758714,
 'phi': 5.145853731851796,
 'philosophy': 3.5926170991174384,
 'policies': 4.660345916070095,
 'politician': 2.6023765520342987,
 'politics': 3.0398778259807213,
 'polls': 6.088655589274283,
 'presided': 5.606598035684735,
 'presidencyclinton': 10.986495389225194,
 'president': 12.64702125982156,
 'presidential': 7.386955418904825,
 'presidents': 4.520350664987575,
 'prevention': 5.105962402824494,
 'program': 2.393082171897548,
 'providing': 4.288227335109782,
 'psi': 6.892150827003094,
 'public': 4.058227307284814,
 'published': 1.9250031139854273,
 'raised': 3.059531844362216,
 'rated': 5.184377013848131,
 'rating': 5.377023594040234,
 'reform': 8.185678069245117,
 'related': 3.723866788250953,
 'remained': 3.3202734635624696,
 'reported': 3.616894668698785,
 'republican': 3.6037489394862825,
 'rhodes': 5.683190481166118,
 'rodham': 7.690658523220865,
 'roosevelt': 6.27696518791286,
 'scandal': 4.835892620778915,
 'scholarship': 3.67127699947222,
 'school': 1.2227872792173518,
 'secretary': 2.9952414593849954,
 'senate': 3.3880960599012306,
 'senator': 3.9056274925344123,
 'served': 6.145089399722101,
 'serving': 2.8470548673505855,
 'signed': 2.5176524587500038,
 'since': 5.821506869232164,
 'skilled': 5.9175911870049624,
 'speaking': 4.618308202874702,
 'special': 2.7022435916032777,
 'state': 3.418114547433035,
 'states': 7.297601319508024,
 'student': 3.095538673086275,
 'such': 1.763337513538397,
 'surplus': 7.37557747658097,
 'system': 3.0888272384982884,
 'teamed': 4.91345085512479,
 'term': 3.1064471882536173,
 'terms': 3.8240978918694766,
 'the': 0.0030473352772174005,
 'then': 2.861870872312261,
 'they': 1.8993401178193898,
 'third': 2.3506306680914584,
 'thirdyoungest': 9.377057476791094,
 'three': 1.4915025293575952,
 'time': 1.3253342074200498,
 'to': 0.7041740652269884,
 'took': 2.2103282894939196,
 'trade': 3.5105894198577974,
 'twice': 3.3301582227950113,
 'two': 1.0988831858473562,
 'united': 4.703766236011668,
 'university': 1.6946860096423695,
 'us': 5.795971346421418,
 'w': 7.305637987135021,
 'war': 5.619645234553478,
 'warming': 6.27696518791286,
 'was': 0.8730236417340181,
 'way': 2.9688582293167167,
 'welfare': 4.864002579710808,
 'when': 1.3806055739282235,
 'where': 2.178152424181346,
 'white': 3.1974549875677174,
 'who': 2.729685656941264,
 'wifes': 6.812108119329557,
 'william': 9.27541361639871,
 'with': 0.40493728504412135,
 'won': 1.3836400683164753,
 'work': 1.3993637697254548,
 'world': 1.370623244696304,
 'yale': 3.984339434821573,
 'years': 4.300952397698822,
 'york': 1.701047544762206}

#### Is Obama closer to Clinton than to Beckham?
- We will use cosine distance, which is given by (1-cosine_similarity)
- Closer the distance (smaller number), the better the match

In [23]:
print "Obama's cosine distance from Clinton is:", graphlab.distances.cosine(obama['tfidf'][0],clinton['tfidf'][0])

Obama's cosine distance from Clinton is: 0.833985493688

In [24]:
print "Obama's cosine distance from Beckham is:", graphlab.distances.cosine(obama['tfidf'][0],beckham['tfidf'][0])

Obama's cosine distance from Beckham is: 0.979130584475

#### Looking at the above:
- Obama is much closer to Clinton than Beckham, which makes sense
- The max distance is 1, the minimum is 0
- Rather than do this process manually, can we do it automatically?

### 6. Build a nearest neighbor model for document retrieval
- We now create a nearest-neighbors model and apply it to document retrieval.

In [25]:
# create a k-nearest-neighbours model
knn_model = graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

#### Who is closest to Obama?

In [26]:
knn_model.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.623ms     |

| Done         |         | 100         | 307.471ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

#### Looking at the above:
- As we can see, president Obama's article is closest to the one about his vice-president Biden, and those of other politicians.  
- Obama has "zero" distance from himself

#### Other examples of document retrieval

#### Taylor Swift

In [27]:
swift = people[people['name'] == 'Taylor Swift']

In [28]:
knn_model.query(swift)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.628ms     |

| Done         |         | 100         | 313.546ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      |   Taylor Swift   |      0.0       |  1   |
|      0      | Carrie Underwood | 0.76231884058  |  2   |
|      0      |   Alicia Keys    | 0.764705882353 |  3   |
|      0      |  Jordin Sparks   | 0.769633507853 |  4   |
|      0      |   Leona Lewis    | 0.776119402985 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

#### Angelina Jolie

In [29]:
jolie = people[people['name'] == 'Angelina Jolie']

In [30]:
knn_model.query(jolie)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.625ms     |

| Done         |         | 100         | 317.041ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Angelina Jolie   |      0.0       |  1   |
|      0      |     Brad Pitt      | 0.784023668639 |  2   |
|      0      |   Julianne Moore   | 0.795857988166 |  3   |
|      0      | Billy Bob Thornton | 0.803069053708 |  4   |
|      0      |   George Clooney   |   0.8046875    |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]

#### Arnold Schwarzeneggar

In [31]:
arnold = people[people['name'] == 'Arnold Schwarzenegger']

In [32]:
knn_model.query(arnold)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 0us          |

| Done         |         | 100         | 303.248ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------------+----------------+------+
| query_label |    reference_label    |    distance    | rank |
+-------------+-----------------------+----------------+------+
|      0      | Arnold Schwarzenegger |      0.0       |  1   |
|      0      |     Jesse Ventura     | 0.818918918919 |  2   |
|      0      |     John Kitzhaber    | 0.824615384615 |  3   |
|      0      |     Lincoln Chafee    | 0.833876221498 |  4   |
|      0      |      Anthony Foxx     | 0.833910034602 |  5   |
+-------------+-----------------------+----------------+------+
[5 rows x 4 columns]

#### Elton John

In [33]:
elton = people[people["name"] == "Elton John"]

In [34]:
elton.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'all': 1L, 'six': 1L, 'pr... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [35]:
elton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [36]:
elton[['word_count']].stack('word_count',new_column_name=['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### 7. Who's closer to Elton John?
- Which wikipedia articles are closer to Elton John, Victoria Beckham's or Paul McCartney's

In [37]:
victoria = people[people["name"] == "Victoria Beckham"]
mccartney = people[people["name"] == "Paul McCartney"]

In [38]:
print "Elton-McCartney Cosine distance:",graphlab.distances.cosine(elton['tfidf'][0],mccartney['tfidf'][0])

Elton-McCartney Cosine distance: 0.825031002922

In [39]:
print "Elton-Beckham Cosine distance:",graphlab.distances.cosine(elton['tfidf'][0], victoria['tfidf'][0])

Elton-Beckham Cosine distance: 0.956700637666

#### Looking at the above:
- Elton is closer to Victoria Beckham than Paul McCartney, or rather the Wikipedia article about Elton is closer to the Wikipedia article about Victoria than Paul

### 8. Two Nearest Neighbours Models with different input features
- Build 2 models
- tfidf_model uses tf-idf features
- wordcount_model uses word counts as features
- use the cosine distance as the metric
- compare results

In [40]:
tfidf_model = graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name',distance="cosine")

Starting brute force nearest neighbors model training.

In [41]:
wordcount_model = graphlab.nearest_neighbors.create(people,features=["word_count"], label="name", distance="cosine")

Starting brute force nearest neighbors model training.

In [42]:
tfidf_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 16.451ms     |

| Done         |         | 100         | 300.111ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [43]:
wordcount_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 10.006ms     |

| Done         |         | 100         | 273.979ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

#### Looking at the above:
- The tf-idf model gives all musicians in the top 5
- The wordcount model gives "Sandro Petrone" in at number 3 - an Italian war correspondent

In [44]:
sandro = people[people["name"] == "Sandro Petrone"]

In [45]:
sandro[['word_count']].stack('word_count',new_column_name=['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 409

Data:
+------------+-------+
|    word    | count |
+------------+-------+
|    the     |   67  |
|     in     |   46  |
|    and     |   41  |
|     of     |   38  |
|     he     |   24  |
|     a      |   19  |
|     as     |   15  |
|     to     |   14  |
|    for     |   13  |
| journalism |   12  |
+------------+-------+
[409 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [46]:
elton[['word_count']].stack('word_count',new_column_name=['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

#### Looking at the above:
- We can see that there are numerous "low-impact" words being used as features in the wordcount model

#### Look at the different model results for Victoria Beckham

In [47]:
tfidf_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.623ms     |

| Done         |         | 100         | 294.164ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]

In [48]:
wordcount_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 5.004ms      |

| Done         |         | 100         | 287.13ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

#### Looking at the above:
- The wordcount model doesn't rank David Beckham as one of the top5 most similar to Victoria Beckham, however the tf-idf model captures this information